@import "tailwindcss";


@theme inline {
  --color-background: #222831;
  --color-foreground: #2E3540;
  --text-color: #fff;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--color-background);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}



body * ::-webkit-scrollbar {
  width: 5px;
  position: absolute;
  z-index: 3;
}

body * ::-webkit-scrollbar-track {
  background-color: transparent;
}

body * ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.349);
}